<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="./assets/icons/ms-icon-144x144.png" />
  <link rel="icon" type="image/png" href="./assets/icons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="./assets/icons/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="./assets/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="./assets/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./assets/icons/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="./assets/icons/android-icon-192x192.png" />

  <link rel="manifest" href="./manifest.json" />

  <% if (htmlWebpackPlugin.options.baseHref) { %>
   <base href="<%= htmlWebpackPlugin.options.baseHref %>">
   <% } %>

   <% for (key in htmlWebpackPlugin.files.css) { %>
    <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
      <link
        href="<%= htmlWebpackPlugin.files.css[key] %>"
        rel="stylesheet"
        integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
        crossorigin="<%= webpackConfig.output.crossOriginLoading %>"/>
    <% } else { %>
      <link href="./<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"/>
    <% } %>
  <% } %>
</head>
<body>

  <noscript>
    JavaScript must be enabled to view this app.
  </noscript>

  <!-- TODO: App gets rendered below - Class names will be changing to apphub-* -->
  <div id="root" class="pxh-view pxh-view--wide@md pxh-view--narrow@lg"></div>

  <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
    <script
      src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
      type="text/javascript"
      integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script>
    <% } else { %>
    <script src="./<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>
  <% } %>

</body>
</html>
